<header class="ud-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" [routerLink]="['/']">
                        <img class="img" src="../../assets/images/MuWEB-LOGO.png" alt="Logo" />
                    </a>
                    <button class="navbar-toggler" (click)="navbarClicked()">
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                    </button>

                    <div class="navbar-collapse" id="linkbar">
                        <ul id="nav" class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a [routerLink]="['/']" class="ud-menu-scroll">首 頁</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/blog']" class="ud-menu-scroll">公 告</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/about']" class="ud-menu-scroll">關 於</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/pricing']" class="ud-menu-scroll">價 格</a>
                            <li class="nav-item">
                                <a [routerLink]="['/contact']" class="ud-menu-scroll">聯 絡</a>
                            </li>
                            <li class="nav-item nav-item-has-children">
                                <a (click)="submenuClicked()"> 更 多 </a>
                                <ul class="ud-submenu">
                                    <li class="ud-submenu-item">
                                        <a [routerLink]="['/blog']" class="ud-submenu-link">
                                            Blog Grid Page
                                        </a>
                                    </li>
                                    <li class="ud-submenu-item">
                                        <a [routerLink]="['/blog-details']" class="ud-submenu-link">
                                            Blog Details Page
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="navbar-btn d-none d-sm-inline-block">
                            <a [routerLink]="['/login']" class="ud-main-btn ud-login-btn">
                                登 入
                            </a>
                            <a [routerLink]="['/register']" class="ud-main-btn ud-white-btn">
                                註 冊
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<button (click)="backTop()" class="back-to-top">
    <i class="lni lni-chevron-up"> </i>
</button>