<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>Pricing Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pricing" class="ud-pricing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title mx-auto text-center">
                    <span>Pricing</span>
                    <h2>Our Pricing Plans</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>

        <div class="row g-0 align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="ud-single-pricing first-item wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-pricing-header">
                        <h3>標準版</h3>
                        <h4>Free</h4>
                    </div>
                    <div class="ud-pricing-body">
                        <ul>
                            <li>資料儲存空間 10 GB</li>
                            <li>伺服器定期備份</li>
                        </ul>
                    </div>
                    <div class="ud-pricing-footer">
                        <a href="javascript:void(0)" class="ud-main-btn ud-border-btn">
                            馬上使用
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="ud-single-pricing active wow fadeInUp" data-wow-delay=".1s">
                    <span class="ud-popular-tag">最受歡迎</span>
                    <div class="ud-pricing-header">
                        <h3>豪華版</h3>
                        <h4>$ 9.99 USD / 月</h4>
                    </div>
                    <div class="ud-pricing-body">
                        <ul>
                            <li>資料儲存空間無上限</li>
                            <li>伺服器定期備份</li>
                            <li>介面深色模式</li>
                            <li>線上諮詢服務</li>
                        </ul>
                    </div>
                    <div class="ud-pricing-footer">
                        <a href="javascript:void(0)" class="ud-main-btn ud-white-btn">
                            馬上購買
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="ud-single-pricing last-item wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-pricing-header">
                        <h3>企業版</h3>
                        <h4>$ 24.99 USD / 月</h4>
                    </div>
                    <div class="ud-pricing-body">
                        <ul>
                            <li>終身訪問</li>
                            <li>免費更新</li>
                            <li>SSL 加密協定</li>
                            <li>資料儲存容量無上限</li>
                            <li>伺服器定期備份</li>
                        </ul>
                    </div>
                    <div class="ud-pricing-footer">
                        <a href="javascript:void(0)" class="ud-main-btn ud-border-btn">
                            馬上購買
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Pricing End ====== -->

<!-- ====== FAQ Start ====== -->
<section id="faq" class="ud-faq">
    <div class="shape">
        <img src="assets/images/faq/shape.svg" alt="shape" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title text-center mx-auto">
                    <span>FAQ</span>
                    <h2>Any Questions? Answered</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available
                        but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>How to use UIdeck?</span>
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>How to download icons from Lineicons?</span>
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>Is GrayGrids part of UIdeck?</span>
                        </button>
                        <div id="collapseThree" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>Can I use this template for commercial project?</span>
                        </button>
                        <div id="collapseFour" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".15s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>Do you have plan releasing Play Pro?</span>
                        </button>
                        <div id="collapseFive" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ud-single-faq wow fadeInUp" data-wow-delay=".2s">
                    <div class="accordion">
                        <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix">
                            <span class="icon flex-shrink-0">
                                <i class="lni lni-chevron-down"></i>
                            </span>
                            <span>Where and how to host this template?</span>
                        </button>
                        <div id="collapseSix" class="accordion-collapse collapse">
                            <div class="ud-faq-body">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a
                                type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>