<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>用戶登入</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ud-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-login-wrapper">
                    <form class="ud-login-form" [formGroup]="loginForm">
                        <div class="ud-form-group">
                            <input 
                                type="text"
                                formControlName="username"
                                placeholder="帳號 // Username" />
                        </div>
                        <div class="ud-form-group">
                            <input
                                type="password"
                                formControlName="password"
                                placeholder="密碼 // Password" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="loginError != false">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                帳號或密碼錯誤，請重新嘗試
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <button type="submit" class="ud-main-btn w-100" (click)="login()">登入</button>
                        </div>
                    </form>
                    <div class="ud-socials-connect">
                        <p>透過社群帳號登入</p>
                        <ul>
                            <li>
                                <a href="javascript:void(0)" class="facebook">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="twitter">
                                    <i class="lni lni-twitter-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="google">
                                    <i class="lni lni-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="forget-pass" [routerLink]="['/forgot']">
                        忘記密碼
                    </a>
                    <p class="signup-option">
                        還沒有註冊? <a [routerLink]="['/register']"> 免費註冊 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>