<section class="ud-hero" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-hero-content wow fadeInUp" data-wow-delay=".2s">
                    <h1 class="ud-hero-title">
                        MuWEB 整合系統
                    </h1>
                    <p class="ud-hero-desc">
                        適用於所有使用者，提供多種便利且實用的功能
                    </p>
                    <ul class="ud-hero-buttons">
                        <li>
                            <a href="https://links.uideck.com/play-bootstrap-download" rel="nofollow noopener"
                                target="_blank" class="ud-main-btn ud-white-btn">
                                馬上使用
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/uideck/play-bootstrap" rel="nofollow noopener" target="_blank"
                                class="ud-main-btn ud-link-btn">
                                瞭解更多 <i class="lni lni-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
                    <img src="assets/images/hero/brand.svg" alt="brand" />
                </div>
                <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
                    <img src="assets/images/hero/hero-image.svg" alt="hero-image" />
                    <img src="assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
                    <img src="assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="ud-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title">
                    <span>特色</span>
                    <h2>Mu-WEB 整合系統</h2>
                    <p>
                        我們致力於提供高品質、實用且簡潔易懂的系統
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
                    <div class="ud-feature-icon">
                        <i class="lni lni-gift"></i>
                    </div>
                    <div class="ud-feature-content">
                        <h3 class="ud-feature-title">完全免費</h3>
                        <p class="ud-feature-desc">
                            免費註冊、免費使用
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-feature wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-feature-icon">
                        <i class="lni lni-move"></i>
                    </div>
                    <div class="ud-feature-content">
                        <h3 class="ud-feature-title">功能齊全</h3>
                        <p class="ud-feature-desc">
                            功能完善且實用，適合所有使用者
                        </p>
                        <a href="javascript:void(0)" class="ud-feature-link" style="color:blue">
                            [查看所有功能]
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-feature wow fadeInUp" data-wow-delay=".2s">
                    <div class="ud-feature-icon">
                        <i class="lni lni-layout"></i>
                    </div>
                    <div class="ud-feature-content">
                        <h3 class="ud-feature-title">質感介面</h3>
                        <p class="ud-feature-desc">
                            高質感、簡潔易懂的使用者介面
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div class="ud-single-feature wow fadeInUp" data-wow-delay=".25s">
                    <div class="ud-feature-icon">
                        <i class="lni lni-layers"></i>
                    </div>
                    <div class="ud-feature-content">
                        <h3 class="ud-feature-title">支持任何裝置</h3>
                        <p class="ud-feature-desc">
                            隨時隨地電腦、手機都能使用
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>