<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>聯絡我們</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="ud-contact">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-7">
                <div class="ud-contact-content-wrapper">
                    <div class="ud-contact-title">
                        <h2>
                            您的寶貴意見可以 <br />
                            供我們排解錯誤、改善產品及解決問題。
                        </h2>
                    </div>
                    <div class="ud-contact-info-wrapper">
                        <div class="ud-single-info">
                            <div class="ud-info-icon">
                                <i class="lni lni-envelope"></i>
                            </div>
                            <div class="ud-info-meta">
                                <h5>聯絡信箱</h5>
                                <p>chenxinghong1121@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="ud-contact-form-wrapper wow fadeInUp" data-wow-delay=".2s">
                    <h3 class="ud-contact-form-title">提供意見</h3>
                    <form class="ud-contact-form">
                        <div class="ud-form-group">
                            <label for="fullName">名字</label>
                            <input type="text" name="fullName" placeholder="your name" />
                        </div>
                        <div class="ud-form-group">
                            <label for="email">聯絡信箱</label>
                            <input type="email" name="email" placeholder="example@yourmail.com" />
                        </div>
                        <div class="ud-form-group">
                            <label for="phone">聯絡電話</label>
                            <input type="text" name="phone" placeholder="+886 123-456-789" />
                        </div>
                        <div class="ud-form-group">
                            <label for="message">訊息</label>
                            <textarea name="message" rows="1" placeholder="message"></textarea>
                        </div>
                        <div class="ud-form-group mb-0">
                            <button type="submit" class="ud-main-btn">
                                確認送出
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>