<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>忘記密碼</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ud-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-login-wrapper">
                    <form class="ud-login-form" [formGroup]="forgotForm">
                        <div class="ud-form-group">
                            <input 
                                type="text"
                                formControlName="username"
                                placeholder="帳號 // Username" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="forgotError != false">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                該帳號不存在，請重新嘗試
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <button type="submit" class="ud-main-btn w-100" (click)="forgotPassword()">找回密碼</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>