<!-- ====== Banner Start ====== -->
<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>關於我們</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Banner End ====== -->
<!-- ====== About Start ====== -->
<section id="about" class="ud-about">
    <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
            <div class="ud-about-content-wrapper">
                <div class="ud-about-content">
                    <span class="tag">關於我們</span>
                    <h2>最專業的 Web 開發團隊</h2>
                    <p>
                        由專業 Web 工程師組成，我們擁有豐富的經驗及專業技能。
                        <br>
                        我們致力於提供高品質、實用且簡潔易懂的系統！
                    </p>
                </div>
            </div>
            <div class="ud-about-image">
                <img src="assets/images/about/about-image.svg" alt="about-image" />
            </div>
        </div>
    </div>
</section>
<!-- ====== About End ====== -->

<!-- ====== Team Start ====== -->
<section id="team" class="ud-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-section-title mx-auto text-center">
                    <h2>認識團隊</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".1s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="assets/images/team/MuYi.jpg" alt="team" />
                        </div>

                        <img src="assets/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="assets/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
                    </div>
                    <div class="ud-team-info">
                        <h5>MuYi</h5>
                        <h6>App Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="assets/images/team/Douasin.jpg" alt="team" />
                        </div>

                        <img src="assets/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="assets/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
                    </div>
                    <div class="ud-team-info">
                        <h5>Douasin</h5>
                        <h6>Consulting Engineer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="assets/images/team/Rock.jpg" alt="team" />
                        </div>

                        <img src="assets/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="assets/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
                    </div>
                    <div class="ud-team-info">
                        <h5>Rock</h5>
                        <h6>Consulting Engineer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12">
                <div class="ud-single-team wow fadeInUp" data-wow-delay=".15s">
                    <div class="ud-team-image-wrapper">
                        <div class="ud-team-image">
                            <img src="assets/images/team/Ionee.jpg" alt="team" />
                        </div>

                        <img src="assets/images/team/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="assets/images/team/shape-2.svg" alt="shape" class="shape shape-2" />
                    </div>
                    <div class="ud-team-info">
                        <h5>Ionee</h5>
                        <h6>Mascot</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>