<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>用戶註冊</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ud-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-login-wrapper">
                    <form [formGroup]="registerForm" class="ud-login-form">
                        <div class="ud-form-group">
                            <input 
                                type="text"
                                formControlName="nickname"
                                placeholder="暱稱 // Nickname" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage('nickname') != ''">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                {{ errorMessage("nickname") }}
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <input 
                                type="text"
                                formControlName="username"
                                placeholder="帳號 // Username" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage('username') != ''">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                {{ errorMessage("username") }}
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <input
                                type="password"
                                formControlName="password"
                                placeholder="密碼 // Password" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage('password') != ''">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                {{ errorMessage("password") }}
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <input
                                type="email"
                                formControlName="email"
                                placeholder="信箱 // Email" />
                        </div>
                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="errorMessage('email') != ''">
                            <i class="fa-solid fa-triangle-exclamation" style="font-size:15px">
                                {{ errorMessage("email") }}
                            </i>
                        </div>
                        <div class="ud-form-group">
                            <button type="button" class="ud-main-btn w-100" [disabled]="registerForm.invalid" (click)="register()">註冊</button>
                        </div>
                    </form>
                    <p class="signup-option">
                        已經有帳號? <a [routerLink]="['/login']"> 點我登入 </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>