<section class="ud-page-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-banner-content">
                    <h1>Blog Page</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ud-blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ud-blog-details-image">
                    <img src="assets/images/blog/blog-details-01.jpg" alt="blog details" />
                    <div class="ud-blog-overlay">
                        <div class="ud-blog-overlay-content">
                            <div class="ud-blog-author">
                                <img src="assets/images/blog/author-01.png" alt="author" />
                                <span>
                                    By <a href="javascript:void(0)"> Samuyl Joshi </a>
                                </span>
                            </div>

                            <div class="ud-blog-meta">
                                <p class="date">
                                    <i class="lni lni-calendar"></i> <span>12 Jan 2024</span>
                                </p>
                                <p class="comment">
                                    <i class="lni lni-comments"></i> <span>50</span>
                                </p>
                                <p class="view">
                                    <i class="lni lni-eye"></i> <span>35</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="ud-blog-details-content">
                    <h2 class="ud-blog-details-title">
                        Facing a challenge is kind of a turn-on for an easy rider
                    </h2>
                    <p class="ud-blog-details-para">
                        There’s a time and place for everything… including asking for
                        reviews. For instance: you should not asking for a review on
                        your checkout page. The sole purpose of this page is to guide
                        your customer to complete their purchase, and this means that
                        the page should be as minimalist and pared-down possible. You
                        don’t want to have any unnecessary elements or Call To Actions.
                    </p>
                    <p class="ud-blog-details-para">
                        There’s a time and place for everything… including asking for
                        reviews. For instance: you should not asking for a review on
                        your checkout page. The sole purpose of this page is to guide
                        your customer to complete their purchase, and this means that
                        the page should be as minimalist and pared-down possible. You
                        don’t want to have any unnecessary elements or Call To Actions.
                    </p>
                    <h3 class="ud-blog-details-subtitle">Sea no quidam vulputate</h3>
                    <p class="ud-blog-details-para">
                        At quo cetero fastidii. Usu ex ornatus corpora sententiae,
                        vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
                        iracundia signiferumque quo. Sed virtute suavitate suscipiantur
                        ea, dolor this can eloquentiam ei pro. Suas adversarium
                        interpretaris eu sit, eum viris impedit ne. Erant appareat
                        corrumpit ei vel.
                    </p>

                    <div class="ud-blog-quote">
                        <i class="lni lni-quotation"></i>
                        <p>
                            A spring of truth shall flow from it: like a new star it shall
                            scatter the darkness of ignorance, and cause a light
                            heretofore unknown to shine amongst men.
                        </p>
                        <h6>“Andrio Domeco”</h6>
                    </div>
                    <h3 class="ud-blog-details-subtitle">
                        What is it with your ideas?
                    </h3>
                    <p class="ud-blog-details-para">
                        At quo cetero fastidii. Usu ex ornatus corpora sententiae,
                        vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
                        iracundia signiferumque quo. Sed virtute suavitate suscipiantur
                        ea, dolor this can eloquentiam ei pro. Suas adversarium
                        interpretaris eu sit, eum viris impedit ne. Erant appareat
                        corrumpit ei vel.
                    </p>
                    <p class="ud-blog-details-para">
                        At quo cetero fastidii. Usu ex ornatus corpora sententiae,
                        vocibus deleniti ut nec. Ut enim eripuit eligendi est, in
                        iracundia signiferumque quo. Sed virtute suavitate suscipiantur
                        ea, dolor this can eloquentiam ei pro. Suas adversarium
                        interpretaris eu sit, eum viris impedit ne. Erant appareat
                        corrumpit ei vel.
                    </p>

                    <div class="ud-blog-details-action">
                        <ul class="ud-blog-tags">
                            <li>
                                <a href="javascript:void(0)">Design</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Development</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Info</a>
                            </li>
                        </ul>
                        <div class="ud-blog-share">
                            <h6>Share This Post</h6>
                            <ul class="ud-blog-share-links">
                                <li>
                                    <a href="javascript:void(0)" class="facebook">
                                        <i class="lni lni-facebook-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="twitter">
                                        <i class="lni lni-twitter-filled"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="linkedin">
                                        <i class="lni lni-linkedin-original"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ud-blog-sidebar">
                    <div class="ud-newsletter-box">
                        <img src="assets/images/blog/dotted-shape.svg" alt="shape" class="shape shape-1" />
                        <img src="assets/images/blog/dotted-shape.svg" alt="shape" class="shape shape-2" />
                        <h3 class="ud-newsletter-title">Join our newsletter!</h3>
                        <p>Enter your email to receive our latest newsletter.</p>
                        <form class="ud-newsletter-form">
                            <input type="email" name="email" placeholder="Your Email address" />
                            <button class="ud-main-btn">Subscribe Now</button>
                            <p class="ud-newsletter-note">Don't worry, we don't spam</p>
                        </form>
                    </div>

                    <div class="ud-articles-box">
                        <h3 class="ud-articles-box-title">Popular Articles</h3>
                        <ul class="ud-articles-list">
                            <li>
                                <div class="ud-article-image">
                                    <img src="assets/images/blog/article-author-01.png" alt="author" />
                                </div>
                                <div class="ud-article-content">
                                    <h5 class="ud-article-title">
                                        <a href="javascript:void(0)">
                                            The 8 best landing page builders, reviewed
                                        </a>
                                    </h5>
                                    <p class="ud-article-author">Martin Fedous</p>
                                </div>
                            </li>
                            <li>
                                <div class="ud-article-image">
                                    <img src="assets/images/blog/article-author-02.png" alt="author" />
                                </div>
                                <div class="ud-article-content">
                                    <h5 class="ud-article-title">
                                        <a href="javascript:void(0)">
                                            Create engaging online courses your student…
                                        </a>
                                    </h5>
                                    <p class="ud-article-author">Glomiya Lucy</p>
                                </div>
                            </li>
                            <li>
                                <div class="ud-article-image">
                                    <img src="assets/images/blog/article-author-03.png" alt="author" />
                                </div>
                                <div class="ud-article-content">
                                    <h5 class="ud-article-title">
                                        <a href="javascript:void(0)">
                                            The ultimate formula for launching online course
                                        </a>
                                    </h5>
                                    <p class="ud-article-author">Andrio jeson</p>
                                </div>
                            </li>
                            <li>
                                <div class="ud-article-image">
                                    <img src="assets/images/blog/article-author-04.png" alt="author" />
                                </div>
                                <div class="ud-article-content">
                                    <h5 class="ud-article-title">
                                        <a href="javascript:void(0)">
                                            50 Best web design tips & tricks that will help you
                                        </a>
                                    </h5>
                                    <p class="ud-article-author">Samoyel Dayno</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="ud-banner-ad">
                        <a href="javascript:void(0)">
                            <img src="assets/images/blog/bannder-ad.png" alt="ad banner" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====== Blog Details End ====== -->

<!-- ====== Blog Start ====== -->
<section class="ud-blog-grids ud-related-articles">
    <div class="container">
        <div class="row col-lg-12">
            <div class="ud-related-title">
                <h2 class="ud-related-articles-title">Related Articles</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-blog">
                    <div class="ud-blog-image">
                        <a [routerLink]="['/blog-details']">
                            <img src="assets/images/blog/blog-01.jpg" alt="blog" />
                        </a>
                    </div>
                    <div class="ud-blog-content">
                        <span class="ud-blog-date">Dec 22, 2023</span>
                        <h3 class="ud-blog-title">
                            <a [routerLink]="['/blog-details']">
                                Meet AutoManage, the best AI management tools
                            </a>
                        </h3>
                        <p class="ud-blog-desc">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-blog">
                    <div class="ud-blog-image">
                        <a [routerLink]="['/blog-details']">
                            <img src="assets/images/blog/blog-02.jpg" alt="blog" />
                        </a>
                    </div>
                    <div class="ud-blog-content">
                        <span class="ud-blog-date">Dec 22, 2023</span>
                        <h3 class="ud-blog-title">
                            <a [routerLink]="['/blog-details']">
                                How to earn more money as a wellness coach
                            </a>
                        </h3>
                        <p class="ud-blog-desc">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="ud-single-blog">
                    <div class="ud-blog-image">
                        <a [routerLink]="['/blog-details']">
                            <img src="assets/images/blog/blog-03.jpg" alt="blog" />
                        </a>
                    </div>
                    <div class="ud-blog-content">
                        <span class="ud-blog-date">Dec 22, 2023</span>
                        <h3 class="ud-blog-title">
                            <a [routerLink]="['/blog-details']">
                                The no-fuss guide to upselling and cross selling
                            </a>
                        </h3>
                        <p class="ud-blog-desc">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>