<section id="about" class="ud-about">
    <div class="container">
        <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
            <div class="ud-about-content-wrapper">
                <div class="ud-about-content">
                    <span class="tag">About Us</span>
                    <h2>Brilliant Toolkit to Build Nextgen Website Faster.</h2>
                    <p>
                        The main ‘thrust’ is to focus on educating attendees on how to
                        best protect highly vulnerable business applications with
                        interactive panel discussions and roundtables led by subject
                        matter experts.
                    </p>

                    <p>
                        The main ‘thrust’ is to focus on educating attendees on how to
                        best protect highly vulnerable business applications with
                        interactive panel.
                    </p>
                    <a href="javascript:void(0)" class="ud-main-btn">Learn More</a>
                </div>
            </div>
            <div class="ud-about-image">
                <img src="assets/images/about/about-image.svg" alt="about-image" />
            </div>
        </div>
    </div>
</section>